ASPNETCORE_ENVIRONMENT=Development

WEBCRAWLLER_CONNECTION_STRING=Server=Server=localhost,1434;Database=WebCrawller;User Id=sa;Password=senha;TrustServerCertificate=True;MultipleActiveResultSets=true;
WEBCRAWLLER_API_PORT=

RABBITMQ_URL=amqp://guest:guest@localhost:5672